<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bcss/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/icofont/icofont.min.css">
  
    <title>GOCABBY</title>

</head>
<body>
    <%- include('../partials/admin-nav') %>
    <div class="app">
        <div class="row">
            <div class="col-12 col-md-3 col-lg-2 order-2 order-md-1">
                <%- include('../partials/admin-sidebar') %>
            </div>
            <div class="col-12 col-md-9 col-lg-10 order-1 order-md-2">
                
                <div class="page-view-area">
                    <div class="nav-adjust"></div>

                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-7">
                            <div class="page-info-div">
                                <h1 class="page-head">
                                    Driver Requests 
                                </h1>
                                <p class="mt-2">
                                    <a class="text-decoration-none text-dark" href="/admin">Home</a>&nbsp;>
                                    <a class="text-decoration-none text-info" href="#">Driver Requests</a>
                                </p>
                            </div>
                        </div>
                       
                    </div>
                    
                    <div class="table-responsive mt-1">
                        <table id="table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Vehicle</th>
                                    <th>Seating</th>
                                    <th>Approve</th>
                                </tr>
                                <% drivers.forEach((i)=>{ %>
                                    <tr>
                                        <td><%=i.name%></td>
                                        <td><%=i.phone%></td>
                                        <td><%=i.vehicle.brand%> | <%=i.vehicle.model%> | <%=i.vehicle.year%></td>
                                        <td><%=i.vehicle.seating%></td>
                                        <td><a href="/admin/approve-driver/<%=i.id%>"><button class="btn btn-success btn-block">Approve</button></a></td>

                                    </tr>
                                <% }) %>
                            </thead>
                            <tbody> 
                             
                            </tbody>
                        </table>
                    </div>
                
                </div>
            </div>
        </div>
    </div>

 

    <script src="/bjs/jquery.min.js"></script>
    <script src="/bjs/bootstrap.bundle.min.js"></script>

    <script >
        document.getElementById('si1').classList.add('sidebar-item-active')
    </script>
</body>
</html>